:root {
  --primary-color: #6D67D0;
  --secondary-color: #7b56fe;
  --text-color: white;
  --border-radius: 12px;
  --box-shadow-color: rgba(123, 86, 254, 0.5);
  --font-size-large: 1.5rem;
  --font-size-medium: 1.25rem;
  --font-size-small: 1rem;
  --padding-small: 0.625rem;
  --padding-medium: 1rem;
  --margin-medium: 1rem;
  --transition-duration: 0.3s;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: -1;
  object-fit: cover;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  z-index: 1;
  padding-bottom: 3rem
}

#localize {
  display: flex;
  justify-content: center;
  margin: auto;
}

#input {
  padding: var(--padding-small);
  margin-right: var(--padding-small);
  border-radius: var(--border-radius);
  border: none;
}

#button {
  width: 2.5rem;
  border-radius: var(--border-radius);
  border: none;
  transition: background-color var(--transition-duration), transform var(--transition-duration);
}

#button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--padding-medium);
  flex-wrap: wrap;
}

.temperature-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.temperature {
  height: 25rem;
  width: 25rem;
  object-fit: contain;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 10;
}

.overlay-content p {
  margin: 0.5rem 0;
}

#name-city {
  font-size: 1.4rem;
  position: relative;
  top: -50px;
  left: 45%;
}

.main-temp {
  font-size: 3rem;
}

#temp-description {
  position: relative;
  font-size: 1.2rem;
  top: 5rem;
}

#temp-min-max {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#temp-min,
#temp-max {
  font-size: 1rem;
  margin: 0 1rem;
}

.right-content {
  display: flex;
  flex-direction: column;
}

.climate-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 37.5rem;
  margin-top: 3.125rem;
  margin-bottom: var(--padding-medium);
}

.climate-item {
  height: 12.5rem;
  width: 12.5rem;
  padding: var(--padding-small);
  margin: var(--padding-small);
  background: var(--primary-color);
  text-align: center;
  border: 1px solid var(--primary-color);
  box-shadow: 1px 1px var(--secondary-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.qualit-itens {
  position: relative;
  top: 30%;
}

.hour-itens {
  position: relative;
  top: 5%;
}

.hour-itens p {
  margin: 1em;
}

.list-items {
  width: 26.25rem;
  height: 6.875rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background: var(--primary-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
}

.list-items li {
  margin: var(--padding-small) var(--padding-small);
}

@media (max-width: 768px) {
  .temperature {
    height: 18.75rem;
    width: 18.75rem;
    margin-right: var(--padding-small);
  }

  .content-wrapper {
    flex-direction: column;
    gap: var(--margin-medium);
    text-align: center;
  }

  #name-city,
  .main-temp {
    right: auto;
    left: 10%;
  }

  .climate-info {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .temperature {
    height: 15rem;
    width: 15rem;
  }

  .main-temp {
    font-size: 2rem;
  }

  #temp-description {
    top: 2rem;
  }

  #hour-sun {
    display: none;
  }

  .overlay-content {
    font-size: 1rem;
  }

  #name-city {
    top: -5px;
    font-size: 1.2rem;
    left: 20%;
  }

  .climate-info {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .climate-item {
    height: 10rem;
    width: 10rem;
  }

  .list-items {
    width: 20rem;
    height: 5rem;
  }

  .list-items li {
    font-size: 0.875rem;
    margin: 0.5rem;
  }

  #localize {
    margin-top: 200px;
    flex-direction: column;
    gap: var(--padding-small);
  }

  #input {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--padding-small);
  }

  #button {
    margin: auto;
    width: 35%;
    height: 40px;
  }
}